@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(26, 26, 26);
  color: #eee;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: bold;
  color: #35ccc4;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

.container2{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botton-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 85vh;
}
.social{
    display: flex;
    gap: 15px;
    margin: 0;
}
.social a img{
    width: 45px;
}

.seta{
    animation: seta 1s infinite alternate;
}

@keyframes seta{
    from{
        transform: translateY(10px);
    }
    to{
        transform: translateY(20px);
    }
}












@media (max-height:765px) {
    .botton-home{
        top: 80vh;
    }
}